@{
    ViewData["Title"] = "PocketNurse Import Page";
    Layout = "~/Views/Import/_Layout.cshtml";
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}
<!-- https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-2.1 -->
    <form id="upload" method="post" enctype="multipart/form-data" asp-action="Upload" asp-controller="Import">
        <fieldset>
            <div class="form-group">
                <div>
                    <label for="sheet_upload">Choose images to upload (XLSX)</label>
                    <input type="file" id="sheet_upload" name="sheet_upload" accept=".xlsx" multiple>
                </div>
                <div class="preview">
                    <p>No files currently selected for upload</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-warning">Upload <span class="glyphicon glyphicon-upload"></span></button>
                </div>
            </div>
        </fieldset>
    </form>
